body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url(https://cdn12.picryl.com/photo/2016/12/31/books-education-school-education-e01750-1024.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}