body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url(https://assets.entrepreneur.com/content/3x2/2000/20191219170611-GettyImages-1152794789.jpeg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}